@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}
        <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/gustafsgallery.co.uk/login.min.css?Authorization"/>
        <p></p>
        <div class="w3-content w3-container w3-padding-64">
            <div class="w3-container w3-light-grey w3-round">
                <div class="w3-row w3-row-padding">
                    <h2 style="text-align:center">Login with Social Media or use Email and Password</h2>
                    <div class="w3-hide-small">
                        <div class="vl">
                            <span class="inner">or</span>
                        </div>
                        <div class="col">

                            <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal" onclick="openModal('spin')">
                                <button type="submit" class="fb btn btn-full" name="provider" value="Facebook" title="Log in using your Facebook account">
                                    <i class="fab fa-facebook fa-fw"></i> <span>Login with Facebook</span>
                                </button>
                            </form>
                            <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal" onclick="openModal('spin')">
                                <button class="twitter btn btn-full" type="submit" name="provider" value="Twitter" title="Log in using your Twitter account">
                                    <i class="fab fa-twitter fa-fw"></i> <span>Login with Twitter</span>
                                </button>
                            </form>
                            <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal" onclick="openModal('spin')">
                                <button class="google btn btn-full" type="submit" name="provider" value="Google" title="Log in using your Google account">
                                    <i class="fab fa-google fa-fw"></i> <span>Login with Google+</span>
                                </button>
                            </form>
                            <div class="w3-row">
                                <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal" onclick="openModal('spin')" style="display: inline">
                                    <button class="microsoft btn w3-row-padding" type="submit" name="provider" value="Microsoft" title="Log in using your Microsoft account" style="display: inline;">
                                        <i class="fab fa-microsoft"></i>
                                    </button>
                                </form>
                                <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal" onclick="openModal('spin')" style="display: inline">
                                    <button class="linkedin btn w3-row-padding" type="submit" name="provider" value="Linkedin" title="Log in using your Linkedin account" style="display: inline">
                                        <i class="fab fa-linkedin"></i>
                                    </button>
                                </form>
                                @*<form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal" onclick="openModal('spin')" style="display: inline">
                                    <button class="instagram btn w3-row-padding" type="submit" name="provider" value="Microsoft" title="Log in using your Microsoft account" style="display: inline">
                                        <i class="fab fa-instagram"></i>
                                    </button>
                                </form>*@
                                @*<form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal" onclick="openModal('spin')" style="display: inline">
                                    <button class="yahoo btn w3-row-padding" type="submit" name="provider" value="Microsoft" title="Log in using your Microsoft account" style="display: inline">
                                        <i class="fab fa-yahoo"></i>
                                    </button>
                                </form>*@
                                <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal" onclick="openModal('spin')" style="display: inline">
                                    <button class="github btn w3-row-padding" type="submit" name="provider" value="Microsoft" title="Log in using your Microsoft account" style="display: inline">
                                        <i class="fab fa-github"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="w3-hide-large w3-hide-medium">
                        <div class="w3-row">
                            <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal" onclick="openModal('spin')">
                                <button type="submit" class="fb btn btn-full" name="provider" value="Facebook" title="Log in using your Facebook account">
                                    <i class="fab fa-facebook fa-fw"></i> <span>Login with Facebook</span>
                                </button>
                            </form>
                            <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal" onclick="openModal('spin')">
                                <button class="twitter btn btn-full" type="submit" name="provider" value="Twitter" title="Log in using your Twitter account">
                                    <i class="fab fa-twitter fa-fw"></i> <span>Login with Twitter</span>
                                </button>
                            </form>
                            <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal" onclick="openModal('spin')">
                                <button class="google btn btn-full" type="submit" name="provider" value="Google" title="Log in using your Google account">
                                    <i class="fab fa-google fa-fw"></i> <span>Login with Google+</span>
                                </button>
                            </form>
                        </div>
                    </div>
                    
                    <form method="post">
                        <div class="col">
                            <div class="w3-hide-medium w3-hide-large">
                                <p>Or sign in manually:</p>
                            </div>
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="w3-input" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="w3-input" id="pwd"/>
                                <p id="capsWarning" class="w3-text-red" style="display: none;">WARNING! Caps lock is ON.</p>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="w3-button w3-round w3-block w3-white" onclick="openModal('spin')">Log in</button>
                            </div>
                        </div>
                        <div class="w3-container w3-light-grey w3-round w3-center w3-padding-large">
                            <div class="w3-row">
                                <div class="w3-half">
                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" onclick="openModal('spin')">Register as a new user</a>
                                </div>
                                <div class="w3-half">
                                    <a asp-page="./ForgotPassword" onclick="openModal('spin')">Forgot your password?</a>
                                </div>
                            </div>
                            <br />
                        </div>
                    </form>
                </div>
            </div>
        </div>
<script>
// Get the input field
var input = document.getElementById("pwd");

// Get the warning text
var text = document.getElementById("capsWarning");
// When the user presses any key on the keyboard, run the function
input.addEventListener("keyup", function(event) {

  // If "caps lock" is pressed, display the warning text
  if (event.getModifierState("CapsLock")) {
    text.style.display = "block";
  } else {
    text.style.display = "none"
  }
});
</script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
