@model GustafsGalleryStore.Models.ViewModels.NewEditProductViewModel
@{
    ViewData["Title"] = "Edit " + Model.Product.Title;
}
<!-- Page content -->
<div class="w3-padding-large w3-margin-top w3-margin-bottom">
    <div class="w3-content">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" enctype="multipart/form-data" id="edit-form">
            <header>
                <div w3-bar><a href="/ManageProducts" class="w3-button"><i class="fas fa-arrow-left w3-margin-right"></i>Back</a></div>
                <h2><input asp-for="Product.Title" class="w3-input" id="title"/></h2>
                <div class="w3-row">
                    <h4 class="w3-col s1">by</h4>
                    <div class="w3-half">
                        <div class="custom-select w3-half w3-row-padding">
                            <select asp-for="Brand" id="brand">
                                @foreach (var brand in Model.Brands)
                                {
                                    if (brand.Text == Model.Brand)
                                    {
                                        <option selected>@brand.Text</option>
                                    }
                                    else
                                    {
                                        <option>@brand.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col s2 w3-row-padding">Department:&nbsp;</div>
                    <div class="w3-half w3-row-padding">
                        <div class="custom-select w3-half w3-row-padding">
                            <select asp-for="Department" id="department">
                                @foreach (var dept in Model.Departments)
                                {
                                    if (dept.Text == Model.Department)
                                    {
                                        <option selected>@dept.Text</option>
                                    }
                                    else
                                    {
                                        <option>@dept.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </header>
            <div class=" w3-row">
                <div class="w3-card w3-row-padding w3-padding w3-half w3-light-grey">
                    <div class="xzoom-container">
                        <img class="xzoom4" id="xzoom-fancy" src="@Model.Product.ProductImages[0].Uri" xoriginal="@Model.Product.ProductImages[0].Uri" onerror="this.src='https://farm5.staticflickr.com/4705/40336899591_bdc86eddb2_o.png'" />
                        <div class="xzoom-thumbs w3-padding">
                            <a href="@Model.Product.ProductImages[0].Uri"><img class="xzoom-gallery4" width="80" src="@Model.Product.ProductImages[0].Uri" xpreview="@Model.Product.ProductImages[0].Uri" title="@Model.Product.Title" onerror="this.src='https://farm5.staticflickr.com/4705/40336899591_bdc86eddb2_o.png'"></a>
                            @for (int i = 1; i < Model.Product.ProductImages.Count; i++)
                            {
                                <a href="@Model.Product.ProductImages[i].Uri"><img class="xzoom-gallery4" width="80" src="@Model.Product.ProductImages[i].Uri" title="@Model.Product.Title" onerror="this.src='https://farm5.staticflickr.com/4705/40336899591_bdc86eddb2_o.png'"></a>
                            }
                        </div>
                        <div class="w3-text-grey w3-center w3-small"><em>Click to enlarge</em></div>
                    </div>
                    <hr />
                    <label>Images</label>
                    <select asp-for="Image" size="6" class="w3-input" id="Image" multiple>
                        @foreach (var image in Model.ProductImages)
                        {
                            <option selected>@image.Text</option>
                        }
                    </select>
                    <div class="w3-row-padding">
                        <em style="font-size: small">Hold Ctrl (Cmd &#8984; on Mac) to select multiple.  Selected items will be included in product listing.</em>
                    </div>
                    <div class="w3-row">
                        <div class="w3-row-padding">
                            <label>Upload New Images</label>
                            <div class="w3-row">
                                <input asp-for="ImageFiles" class="w3-input" type="file" multiple />

                            </div>
                        </div>
                    </div>

                </div>
                <div class="w3-half w3-row-padding">
                    <div class="w3-section w3-row-padding"><textarea class="w3-input" style="min-height: 200px" asp-for="@Model.Product.Description" id="description"></textarea></div>
                    <p class="w3-section w3-row-padding">
                        <span class="w3-half" style="font-size: large"><b class="gustaf">£<input asp-for="@Model.Product.Price" style="max-width: 80px;" type="number" min="0.01" step="0.01" /></b></span>
                        <span class="w3-half"><input asp-for="@Model.Product.Stock" style="max-width: 40px;" type="number" />  in Stock</span>
                    </p>
                    <div class="w3-row">

                        <div class="w3-half w3-row-padding">
                            <div class="form-group">
                                <label>Sizes</label>
                                <select asp-for="Size" size="6" class="w3-input" id="Size" multiple>
                                    @foreach (var size in Model.Sizes)
                                    {
                                        bool exists = false;
                                        foreach (var prodSize in Model.Product.ProductSizes)
                                        {
                                            if (size.Text == prodSize.Size)
                                            {
                                                exists = true;
                                            }
                                        }

                                        if (exists)
                                        {
                                            <option selected>@size.Text</option>
                                        }
                                        else
                                        {
                                            <option>@size.Text</option>
                                        }
                                    }
                                </select>
                                <div class="w3-bar">
                                    <i class="w3-light-grey w3-bar-item w3-button w3-right w3-border-bottom fa-fw fas fa-plus" onclick="addSize()"></i>
                                </div>
                            </div>
                        </div>
                        <div class="w3-half w3-row-padding">
                            <div class="form-group">
                                <label>Colours</label>
                                <select asp-for="Colour" size="6" class="w3-input" id="Colour" multiple>
                                    @foreach (var colour in Model.Colours)
                                    {
                                        bool exists = false;
                                        foreach (var prodColour in Model.Product.ProductColours)
                                        {
                                            if (colour.Text == prodColour.Colour)
                                            {
                                                exists = true;
                                            }
                                        }

                                        if (exists)
                                        {
                                            <option selected>@colour.Text</option>
                                        }
                                        else
                                        {
                                            <option>@colour.Text</option>
                                        }
                                    }
                                </select>
                                <div class="w3-bar">
                                    <i class="w3-light-grey w3-bar-item w3-button w3-right w3-border-bottom fa-fw fas fa-plus" onclick="addColour()"></i>
                                </div>
                            </div>
                        </div>
                        <div class="w3-row-padding">
                            <em style="font-size: small">Hold Ctrl (Cmd &#8984; on Mac) to select multiple.  Selected items will be included in product listing.</em>
                        </div>
                    </div>
                    <input asp-for="Product.Id" hidden />
                    <div class="w3-row">
                        <div class="w3-half w3-row-padding">
                            <button class="w3-button w3-dark-grey w3-round" onclick="openModal('spin');submitEdit()"><i class="fas fa-save w3-margin-right"></i>Save Changes</button>
                        </div>
                        <div class="w3-half w3-row-padding">
                            <button class="w3-button w3-light-grey w3-round" onclick="loadPreview()"><i class="fas fa-eye w3-margin-right"></i>Preview Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
function loadPreview() {

    var form = document.getElementById("edit-form");
    form.action = "/ManageProducts/PreviewProduct";
    form.target = "_blank";
    form.submit();
}

function submitEdit() {

    var form = document.getElementById("edit-form");
    form.action = "/ManageProducts/EditProduct";
    form.target = null;
    form.submit();
}
</script>
<partial name="_AddItem" /> 