@model GustafsGalleryStore.Models.ViewModels.ProductListViewModel
@{
    ViewData["Title"] = "Manage Products";
}
<script src="https://s3-us-west-2.amazonaws.com/gustafsgallery.co.uk/filterProducts.min.js?Authorization"></script>
<div class="w3-row">
    <div class="w3-bar-block w3-light-grey w3-card w3-animate-left w3-quarter" style="display: none" id="filterSidebar">
        <div class="w3-row">
            <button class="w3-button w3-half" onclick="filterClose()">Close</button>
            <button class="w3-button w3-half" onclick="openModal('spin');updateFilter('/ManageProducts?');">Update</button>
        </div>
        <div class="w3-block w3-center w3-dark-grey">Filter Designer</div>
        <div id="brands" class="filter-block">
            @foreach (var brand in Model.Brands)
            {
                <div class="w3-button w3-block" onclick="filterButtonClick(this)">
                    @if(Model.FilteredBrands.Contains(brand.Brand))
                    {
                    <input type="checkbox" checked />
                    }
                    else
                    {
                    <input type="checkbox" />
                    }
                    &nbsp;<label>@brand.Brand</label>
                </div>
            }
        </div>
        <div class="w3-block w3-center w3-dark-grey">Filter Department</div>
        <div id="department" class="filter-block">
            @foreach (var dept in Model.Departments)
            {
                <div class="w3-button w3-block" onclick="filterButtonClick(this)">
                    @if (Model.FilteredDepartments.Contains(dept.DepartmentName))
                    {
                        <input type="checkbox" checked />
                    }
                    else
                    {
                        <input type="checkbox" />
                    }
                    &nbsp;<label>@dept.DepartmentName</label>
                </div>
            }
        </div>
    </div>
    <div id="mainContent">
        <div class="w3-bar w3-padding">
            <button id="openNav" class="w3-button w3-light-grey w3-round" onclick="filterOpen()"><i class="fas fa-filter w3-margin-right"></i>Filter</button>
            @if (Model.FilteredBrands.Count > 0 || Model.FilteredDepartments.Count > 0)
            {
                <a href="/ManageProducts" class="w3-button w3-light-grey w3-round" onclick="openModal('spin');"><i class="fas fa-sync-alt w3-margin-right"></i>Clear Filter</a>
            }
            <a href="/ManageProducts/AddProduct" class="w3-bar-item w3-button w3-light-grey w3-right"><i class="fas fa-plus fa-fw"></i></a>
        </div>
        <table id="products">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Brand</th>
                    <th>Department</th>
                    <th class="w3-hide-small">Stock</th>
                    <th class="w3-hide-small">Price</th>
                    <th class="w3-hide-small"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var member in Model.Products)
                {
                <tr>
                    <td class="w3-center"><a href="/ManageProducts/EditProduct?id=@member.Id" onclick="openModal('spin')">@member.Title</a></td>
                    <td class="w3-center">@member.ProductBrand.Brand</td>
                    <td class="w3-center">@member.Department.DepartmentName</td>
                    <td class="w3-center w3-hide-small">@member.Stock</td>
                    <td class="w3-center w3-hide-small">@member.Price</td>
                    <td class="w3-center w3-hide-small" style="width: 100px">
                        <a class="w3-bar-item w3-button w3-round w3-light-grey" href="/ManageProducts/EditProduct?id=@member.Id" onclick="openModal('spin')"><i class="fas fa-edit w3-margin-right"></i>Edit</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>$("#products").DataTable();</script>