@model GustafsGalleryStore.Models.ViewModels.ProductListViewModel
@{
    ViewData["Title"] = "Products";
}
<div class="w3-row">
    <div class="w3-bar-block w3-light-grey w3-card w3-animate-left w3-quarter" style="display:none" id="filterSidebar">
        <div class="w3-row">
            <button class="w3-button w3-half" onclick="filterClose()">Close</button>
            <button class="w3-button w3-half" onclick="openModal('spin');updateFilter('/Products?');">Update</button>
        </div>
        <div class="w3-block w3-center w3-dark-grey">Filter Designer</div>
        <div id="brands" class="filter-block">
            @foreach (var brand in Model.Brands)
            {
                <div class="w3-button w3-block" onclick="filterButtonClick(this)">
                    @if (Model.FilteredBrands.Contains(brand.Brand))
                    {
                        <input type="checkbox" checked />
                    }
                    else
                    {
                        <input type="checkbox" />
                    }
                    &nbsp;<label>@brand.Brand</label>
                </div>
            }
        </div>
        <div class="w3-block w3-center w3-dark-grey">Filter Department</div>
        <div id="department" class="filter-block">
            @foreach (var dept in Model.Departments)
            {
                <div class="w3-button w3-block" onclick="filterButtonClick(this)">
                    @if (Model.FilteredDepartments.Contains(dept.DepartmentName))
                    {
                        <input type="checkbox" checked />
                    }
                    else
                    {
                        <input type="checkbox" />
                    }
                    &nbsp;<label>@dept.DepartmentName</label>
                </div>
            }
        </div>
    </div>

    <div id="mainContent">
        <div class="w3-bar w3-padding">
            <button id="openNav" class="w3-button w3-light-grey w3-round" onclick="filterOpen()"><i class="fas fa-filter w3-margin-right"></i>Filter</button>
            @if (Model.FilteredBrands.Count > 0 || Model.FilteredDepartments.Count > 0)
            {
                <a href="/Products" class="w3-button w3-light-grey w3-round w3-margin-left" onclick="openModal('spin');"><i class="fas fa-sync-alt w3-margin-right"></i>Clear Filter</a>
            }
        </div>
        <table id="products">
            <thead>
                <tr>
                    <th></th>
                    <th class="w3-hide-small">Designer</th>
                    <th class="w3-hide-small">Department</th>
                    <th class="w3-hide-small"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var member in Model.Products)
                {
                    <tr>
                        <td class="w3-center" style="max-width: 200px;">
                            <p class="w3-text-center" style="width: 200px;"><a href="/Products/Product?id=@member.Id" class="edit" data-message-id="@member.Id">@member.Title</a></p>
                            @if (member.ProductImages.Count > 0)
                            {
                                <a href="/Products/Product?id=@member.Id" class="edit" data-message-id="@member.Id"><img class="w3-hover-opacity-off w3-opacity" style="max-width: 200px;" src="@member.ProductImages[0].Uri" /></a>
                            }
                        </td>
                        <td class="w3-center w3-hide-small">@member.ProductBrand.Brand</td>
                        <td class="w3-center w3-hide-small">@member.Department.DepartmentName</td>
                        <td class="w3-center w3-hide-small" style="width: 100px">
                            <b>£@member.Price</b>
                            <a class="w3-bar-item w3-button w3-round w3-light-grey" href="/Products/Product?id=@member.Id" onclick="openModal('spin');"><i class="fas fa-cart-plus w3-margin-right"></i>Add To Basket</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>$("#products").DataTable();</script>
<script src="https://dmm8i98ipy9lm.cloudfront.net/filterProducts.min.js?Authorization"></script>