@model GustafsGalleryStore.Models.ViewModels.ProductViewModel
@{
    ViewData["Title"] = Model.Product.Title;
}
<meta name="title" content="@Model.Product.Title" />
<meta name="keywords" content="@Model.Product.Title, @Model.Product.ProductBrand.Brand, gustafs gallery, gustafs studio, gustafs, gustaf" />
<meta name="description" content="@Model.Product.Description">

<style>
    div.scrollmenu {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    div.card {
        flex: 0 0 auto;
        width: 30%;
    }

    @@media only screen and (max-width: 600px) {
        .card {
            width: 75% !important;
        }
    }

    .image-container {
        height: 200px;
        width: 100%;
        object-fit: cover;
    }

    .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        .title:hover {
            white-space: normal;
            overflow: visible;
        }
</style>
<!-- Page content -->
<div class="w3-padding-large w3-margin-top w3-margin-bottom">
    <div class="w3-content">
        <header>
            <a href="@Model.ReturnUrl">back to Store</a>
            <h2>@Model.Product.Title</h2>
            <h4>by @Model.Product.ProductBrand.Brand</h4>
        </header>

        <div class="w3-row">
            <div class="w3-card w3-row-padding w3-padding w3-half w3-light-grey">
                <div class="xzoom-container" style="width: 100%">
                    @if (Model.Product.ProductImages.Count > 0 && Model.Product.ProductImages != null)
                    {
                        <img class="xzoom4" id="xzoom-fancy" src="@Model.Product.ProductImages[0].Uri" xoriginal="@Model.Product.ProductImages[0].Uri" onerror="this.src='https://farm5.staticflickr.com/4705/40336899591_bdc86eddb2_o.png'" />
                    }
                    else
                    {
                        <img class="xzoom4" id="xzoom-fancy" src="https://farm5.staticflickr.com/4705/40336899591_bdc86eddb2_o.png" xoriginal="@Model.Product.ProductImages[0].Uri" onerror="this.src='https://farm5.staticflickr.com/4705/40336899591_bdc86eddb2_o.png'" />
                    }
                    <div class="xzoom-thumbs w3-padding">
                        <a href="@Model.Product.ProductImages[0].Uri"><img class="xzoom-gallery4" width="80" src="@Model.Product.ProductImages[0].Uri" xpreview="@Model.Product.ProductImages[0].Uri" title="@Model.Product.Title" onerror="this.src='https://farm5.staticflickr.com/4705/40336899591_bdc86eddb2_o.png'"></a>
                        @for (int i = 1; i < Model.Product.ProductImages.Count; i++)
                        {
                            <a href="@Model.Product.ProductImages[i].Uri"><img class="xzoom-gallery4" width="80" src="@Model.Product.ProductImages[i].Uri" title="@Model.Product.Title" onerror="this.src='https://farm5.staticflickr.com/4705/40336899591_bdc86eddb2_o.png'"></a>
                        }
                    </div>
                    <div class="w3-text-grey w3-center w3-small"><em>Click to enlarge</em></div>
                </div>
            </div>
            <div class="w3-half w3-row-padding">
                <p class="w3-section w3-row-padding">@Html.Raw(Model.Product.Description)</p>
                <p class="w3-section w3-row-padding">
                    <span class="w3-quarter" style="font-size: large"><b class="gustaf">£@Model.Product.Price</b></span>
                    @if (Model.Product.Stock <= 3)
                    {
                        <span class="w3-threequarter gustaf w3-center"><b>Low stock!!</b></span>
                    }
                    else
                    {
                        <span class="w3-threequarter gustaf w3-center"><b>@Model.Product.Stock in stock</b></span>
                    }
                </p>
                @if (Model.Product.ProductSizes.Count > 1 || Model.Product.ProductColours.Count > 1)
                {
                    <div class="w3-row">
                        <div class="custom-select w3-half w3-row-padding">
                            <select asp-for="Size" class="w3-input" id="size" required>
                                <option>Select Size</option>
                                @foreach (var size in Model.Product.ProductSizes)
                                {
                                    <option>@size.Size</option>
                                }
                            </select>
                        </div>
                        <div class="custom-select w3-half w3-row-padding">
                            @Html.DropDownListFor(m => m.Colour, Model.Colours, "Select Colour", new { @id = "colour", @class = "w3-input", required = "" })
                        </div>
                    </div>
                }
                <div class="w3-row w3-padding">
                    <div class="w3-half w3-row-padding">
                        @*<a href="javascript:void(0);" onclick="openModal('spin');addToBasket(@Model.Product.Id,getSizeValue(),getColourValue());closeModal('spin')" class="w3-button w3-dark-grey w3-round"><i class="fas fa-cart-plus w3-margin-right"></i>Add To Basket</a>*@
                        
                        @if (Model.Product.ProductSizes.Count == 1 && Model.Product.ProductColours.Count == 1)
                        {

                            <button class="w3-bar-item w3-button w3-round w3-light-grey w3-block" onclick="addToBasket(@Model.Product.Id,'@Model.Product.ProductSizes[0].Size','@Model.Product.ProductColours[0].Colour')"><i class="fas fa-cart-plus w3-margin-right"></i>Add To Basket</button>
                        }
                        else
                        {
                            <a href="javascript:void(0);" onclick="openModal('spin');addToBasket(@Model.Product.Id,getSizeValue(),getColourValue());closeModal('spin')" class="w3-button w3-dark-grey w3-round"><i class="fas fa-cart-plus w3-margin-right"></i>Add To Basket</a>
                        }
                    </div>
                </div>
                <div class="w3-row w3-padding">
                    <div class="w3-row-padding w3-quarter">
                        <span class="w3-button w3-dark-grey w3-round w3-block" onclick="createLink()"><i class="fas fa-share-alt fw"></i></span>
                    </div>
                    <div id="fb-button" class="w3-row-padding w3-quarter"></div>
                </div>
            </div>
        </div>
        @if (Model.RelatedProducts.Count > 0)
        {
            <hr />
            <h3>Related Products</h3>
            <div class="scrollmenu w3-row" style="height: 400px">
                @foreach (var product in Model.RelatedProducts)
                {
                    <div class="w3-row-padding card" style="height: 100%">
                        <a href="https://gustafsgallery.co.uk/Products/Product?id=@product.Id">
                            @if (product.ProductImages.Count > 0)
                            {
                                <img class="image-container" src="@product.ProductImages[0].Uri" alt="Card Picture" style="width: 100%;overflow: hidden" onerror="this.src='https://farm5.staticflickr.com/4705/40336899591_bdc86eddb2_o.png'">
                            }
                            else
                            {
                                <img class="image-container" src="https://farm5.staticflickr.com/4705/40336899591_bdc86eddb2_o.png" alt="Card Picture" style="width: 100%; overflow: hidden" onerror="this.src='https://farm5.staticflickr.com/4705/40336899591_bdc86eddb2_o.png'">
                            }
                            <h3 class="title">
                                @product.Title
                            </h3>
                        </a>
                        <p class="price">£@product.Price</p>
                        @*<p><a href="/Products/Product?id=@product.Id" class="w3-button w3-block w3-light-grey">Add to Cart</a></p>*@
                        @if (product.ProductSizes.Count == 1 && product.ProductColours.Count == 1)
                        {

                            <button class="w3-bar-item w3-button w3-round w3-light-grey w3-block" onclick="addToBasket(@product.Id,'@product.ProductSizes[0].Size','@product.ProductColours[0].Colour')"><i class="fas fa-cart-plus w3-margin-right"></i>Add To Basket</button>
                        }
                        else
                        {
                            <a class="w3-bar-item w3-button w3-round w3-light-grey w3-block" href="/Products/Product?id=@product.Id" onclick="openModal('spin');"><i class="fas fa-cart-plus w3-margin-right"></i>Add To Basket</a>
                        }
                    </div>
                }
                <div class="w3-quarter w3-row-padding" style="height: 100%;height:300px;line-height:300px">
                    <a href="/Products" class="w3-button w3-block w3-light-grey" style="height: 100%">See More</a>
                </div>
            </div>
        }


    </div>
</div>
<script src="https://dmm8i98ipy9lm.cloudfront.net/addToBasketCodev2.min.js?Authorization"></script>
<script src="https://dmm8i98ipy9lm.cloudfront.net/shareFB.min.js?Authorization"></script>