@model GustafsGalleryStore.Models.ViewModels.ProcessOrderViewModel
@{
    ViewData["Title"] = "Process Order";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<style>

    .tab-bar {
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        overflow-x: hidden; /* Disable horizontal scroll */
    }

    .tab {
        display: none;
    }
</style>
<div class="w3-padding-64" id="main">
    <div class="w3-bar w3-dark-grey tab-bar">
        <button class="w3-bar-item w3-button testbtn w3-padding-16 gustaf-background-dark" onclick="openTab(event,'Summary')"><i class="fas fa-clipboard-list w3-margin-right"></i>Summary</button>
        <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="openTab(event,'Order')"><i class="fas fa-shopping-basket w3-margin-right"></i>Order Details</button>
        <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="openTab(event,'Customer')"><i class="fas fa-user w3-margin-right"></i>Customer Details</button>
        <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="openTab(event,'Payment')"><i class="fas fa-credit-card w3-margin-right"></i>Payment Details</button>
        <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="openTab(event,'Delivery')"><i class="fas fa-truck w3-margin-right"></i>Delivery Details</button>
        @if(Model.Order.CancellationRequestedDate != null)
        {
            <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="openTab(event,'Cancel')"><i class="fas fa-ban w3-margin-right"></i>Cancellation Details</button>
        }
        @if(Model.Returns.Count > 0)
        {
            <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="openTab(event,'Return')"><i class="fas fa-exchange-alt w3-margin-right"></i>Return Details</button>
        }
        <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="openTab(event,'History')"><i class="fas fa-history w3-margin-right"></i>History</button>
        <a href="/ManageOrders" class="w3-bar-item w3-button w3-padding-16"><i class="fas fa-long-arrow-alt-left w3-margin-right"></i>Back</a>
    </div>

    <div class="header-spacer w3-hide-small w3-hide-medium" style="height: 60px"></div>
    <div class="header-spacer w3-hide-small w3-hide-large" style="height: 50px"></div>
    <div class="header-spacer w3-hide-large w3-hide-medium" style="height: 35px"></div>

    <div id="Summary" class="w3-container tab w3-animate-opacity" style="display: block">
        <div class="w3-half w3-row-padding">
            <div class="w3-section w3-light-grey w3-padding-large">
                <h4>Order Details</h4>
                <p>Order Number: <strong>@Model.Order.Id</strong></p>
                <p>Order Placed: <strong>@Model.Order.OrderPlacedDate.Value.ToString("F")</strong></p>
                <p>Order Status: <strong>@Model.Order.OrderStatus.Status</strong></p>
                <p>Order Total: <strong>£@(Model.Order.OrderTotalPrice + Model.Order.DeliveryType.Price)</strong></p>
                @if (Model.Order.OrderStatus.Status == "Order Dispatched")
                {
                    @if (Model.Order.OrderCompleteDate != null)
                    {
                        <p>Order Dispatched: <strong>@Model.Order.OrderCompleteDate.Value.ToString("F")</strong></p>
                    }
                    <p>Package Reference: <strong>@Model.Order.PackageReference</strong></p>
                }
                else if (Model.Order.OrderStatus.Status == "Awaiting Return" ||
                    Model.Order.OrderStatus.Status == "Order Returned")
                {
                    @if (Model.Order.ReturnRequestedDate != null)
                    {
                        <p>Return Requested: <strong>@Model.Order.ReturnRequestedDate.Value.ToString("F")</strong></p>
                    }
                    @if (Model.Order.ReturnReceivedDate != null)
                    {
                        <p>Return Received: <strong>@Model.Order.ReturnReceivedDate.Value.ToString("F")</strong></p>
                    }
                    @if (Model.Order.OrderCompleteDate != null)
                    {
                        <p>Return Completed: <strong>@Model.Order.OrderCompleteDate.Value.ToString("F")</strong></p>
                    }
                }

                @if (Model.Order.PaymentStatus == "approved_by_network")
                {
                    <p>Payment Status: <strong>Payment complete</strong></p>
                }
                else
                {
                    <p>Payment Status: <strong>Awaiting payment confirmtion</strong></p>
                }
            </div>
        </div>
        <div class="w3-half w3-row-padding">
            <div class="w3-section w3-padding-large">
                <h4>Process Order</h4>
                @if (Model.Order.OrderStatus.Status == "Order Placed")
                {
                    <div class="w3-row w3-padding">
                        <div class="w3-half w3-row-padding">
                            <a href="/ManageOrders/AwaitingStock?id=@Model.Order.Id" class="w3-button w3-dark-grey w3-round w3-block" onclick="openModal('spin')">Awaiting Stock</a>
                        </div>
                    </div>
                }
                @if (Model.Order.OrderStatus.Status != "Order Dispatched" &&
                  Model.Order.OrderStatus.Status != "Cancellation Completed" &&
                  Model.Order.OrderStatus.Status != "Order Cancelled" &&
                  Model.Order.OrderStatus.Status != "Order Returned" &&
                  Model.Order.OrderStatus.Status != "Return Completed")
                {
                    <div class="w3-row w3-padding">
                        <div class="w3-half w3-row-padding w3-margin-top">
                            <a id="dispatch" href="/ManageOrders/OrderDispatched?id=@Model.Order.Id&&packageReference=@Model.Order.PackageReference" class="w3-button w3-dark-grey w3-round w3-block" onclick="openModal('spin')">Order Dispatched</a>

                        </div>
                        <div class="w3-half w3-row-padding">
                            <div class="from-group">
                                <label asp-for="Order.PackageReference"></label>
                                <input asp-for="Order.PackageReference" class="w3-input" onchange="updatePackageRef(this)" />
                            </div>
                        </div>
                    </div>
                }
                @if (Model.Order.OrderStatus.Status == "Order Cancelled")
                {
                    <div class="w3-row w3-padding">
                        <div class="w3-half w3-row-padding">
                            <a href="/ManageOrders/CancelOrder?id=@Model.Order.Id" class="w3-button w3-dark-grey w3-round w3-block" onclick="openModal('spin')">Complete Cancellation</a>
                        </div>
                    </div>
                }
                @if (Model.Order.OrderStatus.Status == "Awaiting Return")
                {
                    <div class="w3-row w3-padding">
                        <div class="w3-half w3-row-padding w3-margin-top">
                            <a id="refund" href="/ManageOrders/CompleteReturn?id=@Model.Order.Id&&returnAmount=@Model.ReturnAmount" class="w3-button w3-dark-grey w3-round w3-block" onclick="openModal('spin')">Complete Return</a>
                        </div>
                        <div class="w3-half w3-row-padding">
                            <div class="from-group">
                                <label>Refund Amount</label>
                                <input asp-for="ReturnAmount" class="w3-input" onchange="updateReturnAmount(this)" />
                            </div>
                        </div>
                    </div>
                }
                @if(Model.Order.OrderStatus.Status == "Cancellation Completed" ||
                    Model.Order.OrderStatus.Status == "Return Completed" ||
                    Model.Order.OrderStatus.Status == "Order Dispatched")
                {
                    <span>No Action Required</span>
                }
            </div>
        </div>
    </div>

    <div id="Order" class="w3-container tab w3-animate-opacity">
        <div class="w3-section w3-light-grey w3-padding-large">
            <table style="width: 100%">
                <thead>
                    <tr>
                        <th class="w3-quarter"></th>
                        <th class="w3-half"></th>
                        <th style="width: 6.25%;">Price</th>
                        <th style="width: 6.25%;">Quantity</th>
                        <th style="width: 6.25%;">Size</th>
                        <th style="width: 6.25%;">Colour</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Order.OrderItems)
                    {
                    <tr>
                        <td class="w3-quarter">
                            @if (item.Product.ProductImages.Count > 0)
                            {
                            <img class="w3-hover-opacity-off w3-opacity" style="max-width: 200px;" src="@item.Product.ProductImages[0].Uri" />
                            }
                        </td>
                        <td class="w3-half">
                            <a href="/Products/Product?id=@item.Product.Id"><h4>@item.Product.Title</h4></a>
                        </td>
                        <td class="w3-center" style="width: 6.25%;">
                            <p>£@item.Product.Price</p>
                        </td>
                        <td class="w3-center" style="width: 6.25%;">
                            <p>@item.Quantity</p>
                        </td>
                        <td class="w3-center" style="width: 6.25%;"><p>@item.Size.Value</p></td>
                        <td class="w3-center" style="width: 6.25%;"><p>@item.Colour.Value</p></td>
                    </tr>
                    }
                </tbody>
            </table>
            @if (Model.Order.OrderItems.Count == 0)
            {
                <h4>Your order is empty.</h4>
            }
        </div>
        <div class="w3-section w3-light-grey w3-padding-large">
            <div class="w3-bar">
                <h4 class="w3-right" id="subtotal">Subtotal: £@Model.Order.OrderTotalPrice</h4>
            </div>
        </div>
    </div>

    <div id="Customer" class="w3-container tab w3-animate-opacity">
        <div class="w3-row">
            <div class="w3-half w3-row-padding">
                <div class="w3-section w3-light-grey w3-padding-large">
                    <h4>Customer Details</h4>
                    <p>Customer Name: <strong>@Model.User.Title @Model.User.Forename @Model.User.Surname</strong></p>
                    <p>Customer Email: <strong>@Model.User.Email</strong></p>
                    <h4>Contact Details</h4>
                    <p>Mobile Phone: <string>@Model.Order.CustomerContact.MobilePhone</string></p>
                    <p>Work Phone: <string>@Model.Order.CustomerContact.WorkPhone</string></p>
                    <p>Other Phone: <string>@Model.Order.CustomerContact.OtherPhone</string></p>
                </div>
            </div>
            <div class="w3-half w3-row-padding">
                <div class="w3-section w3-padding-large">
                    <h4>Delivery Address</h4>
                    @if (Model.Order.CustomerContact.BuildingNumber != "")
                    {
                        <span>@Model.Order.CustomerContact.BuildingNumber @Model.Order.CustomerContact.AddressLine1</span><br />
                    }
                    else
                    {
                        <span>@Model.Order.CustomerContact.AddressLine1</span><br />
                    }
                    @if (Model.Order.CustomerContact.AddressLine2 != "")
                    {
                        <span>@Model.Order.CustomerContact.AddressLine2</span><br />
                    }
                    @if (Model.Order.CustomerContact.PostTown != "")
                    {
                        <span>@Model.Order.CustomerContact.PostTown</span><br />
                    }
                    @if (Model.Order.CustomerContact.County != "")
                    {
                        <span>@Model.Order.CustomerContact.County</span><br />
                    }
                    @if (Model.Order.CustomerContact.Postcode != "")
                    {
                        <span>@Model.Order.CustomerContact.Postcode</span><br />
                    }
                    @if (Model.Order.CustomerContact.Country != "")
                    {
                        <span>@Model.Order.CustomerContact.Country</span><br />
                    }
                </div>
            </div>
        </div>
    </div>

    <div id="Payment" class="w3-container tab w3-animate-opacity">
        <div class="w3-half w3-row-padding">
            <div class="w3-section w3-light-grey w3-padding-large">
                <h4>Payment Details</h4>
                @if (Model.Order.PaymentStatus == "approved_by_network" || Model.Order.PaymentStatus == "approved")
                {
                    <p>Payment Status: <strong>Payment complete</strong></p>
                }
                else
                {
                    <p>Payment Status: <strong>Awaiting payment confirmtion</strong></p>
                }
                <p>
                    Payment Method:&nbsp;
                    @if(string.IsNullOrWhiteSpace(Model.Order.StripeSource))
                    {
                    <strong><span><i class="fab fa-paypal"></i>PayPal</span></strong>
                    }
                    else
                    {
                    <strong><span><i class="fab fa-stripe-s"></i>Stripe</span></strong>
                    }
                </p>
                <p>Payment Id: <strong>@Model.Order.PaymentId</strong></p>
                <p>Payment Message: <strong>@Model.Order.PaymentMessage</strong></p>
                <p>Payment Status: <strong>@Model.Order.PaymentStatus</strong></p>
                <hr />
                <p>Stripe Seller Message: <strong>@Model.Order.SellerMessage</strong></p>
                <p>Stripe Source Id: <strong>@Model.Order.StripeSource</strong></p>
                <hr />
                <p>PayPal Cart Id: <strong>@Model.Order.PayPalCartId</strong></p>
                <p>PayPal Payer Id: <strong>@Model.Order.PayPalPayerId</strong></p>
                <p>PayPal Sale Id: <strong>@Model.Order.PayPalSaleId</strong></p>
            </div>
        </div>
    </div>

    <div id="Delivery" class="w3-container tab w3-animate-opacity">
        <div class="w3-half w3-row-padding">
            <div class="w3-section w3-light-grey w3-padding-large">
                <h4>Delivery Details</h4>
                <p>Delivery Company: <strong>@Model.Order.DeliveryType.DeliveryCompany.Company</strong></p>
                <p>Delivery Type:  <strong>@Model.Order.DeliveryType.Type</strong></p>
                <p>Delivery Price:  <strong>£@Model.Order.DeliveryType.Price</strong></p>
                <p>Package Reference:  <strong>@Model.Order.PackageReference</strong></p>
            </div>
        </div>
    </div>
    
    <div id="History" class="w3-container tab w3-animate-opacity">
        <div class="">
            <div class="w3-section w3-padding-large">
                <table style="width: 100%;" class="w3-table w3-striped w3-bordered">
                    <thead class="w3-light-grey">
                        <tr>
                            <th style="width: 10%">Id</th>
                            <th style="width: 45%">Status</th>
                            <th style="width: 45%">Timestamp</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var historyItem in Model.OrderHistories)
                        {
                            <tr>
                                <td>
                                    @historyItem.Id
                                </td>
                                <td>
                                    @historyItem.OrderStatus.Status
                                </td>
                                <td>
                                    @if(historyItem.DateStamp != null)
                                    {
                                        <span>@historyItem.DateStamp.Value.ToString("F")</span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="Return" class="w3-container tab w3-animate-opacity">
        <div>
            <div class="w3-section w3-padding-large">
                <table style="width: 100%;" class="w3-table w3-striped w3-bordered">
                    <thead class="w3-light-grey">
                        <tr>
                            <th style="width: 10%">Id</th>
                            <th style="width: 20%">Dates</th>
                            <th style="width: 20%">Reason</th>
                            <th style="width: 20%">Items</th>
                            <th style="width: 30%">Payment Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var returnItem in Model.Returns)
                        {
                            <tr>
                                <td><strong>@returnItem.Id</strong></td>
                                <td>
                                    @if (returnItem.ReturnOpenedDate != null)
                                    {
                                        <p>Return Created: <br /><strong>@returnItem.ReturnOpenedDate.Value.ToString("F")</strong></p>
                                    }
                                    @if (returnItem.ReturnCompleteDate != null)
                                    {
                                        <p>Return Completed:<br /><strong>@returnItem.ReturnCompleteDate.Value.ToString("F")</strong></p>
                                    }
                                </td>
                                <td>@returnItem.Reason</td>
                                <td>
                                    @foreach(var item in returnItem.Products)
                                    {
                                        <p>@item.Title</p>
                                    }
                                </td>
                                <td>
                                    <p>Refund Id: <strong>@returnItem.RefundId</strong></p>
                                    <p>Refund Message: <strong>@returnItem.RefundMessage</strong></p>
                                    <p>Refund Status: <strong>@returnItem.RefundStatus</strong></p>
                                    @if (returnItem.RefundCreatedDate != null)
                                    {
                                        <p>Refund Date: <strong>@returnItem.RefundCreatedDate.Value.ToString("F")</strong></p>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="Cancel" class="w3-container tab w3-animate-opacity">
        <div class="w3-half w3-row-padding">
            <div class="w3-section w3-light-grey w3-padding-large">
                <h4>Cancellation Details</h4>
                @if (Model.Order.CancellationRequestedDate != null)
                {
                    <p>Cancellation Requested: <strong>@Model.Order.CancellationRequestedDate.Value.ToString("F")</strong></p>
                }
                @if (Model.Order.CancellationCompletedDate != null)
                {
                    <p>Cancellation Completed: <strong>@Model.Order.CancellationCompletedDate.Value.ToString("F")</strong></p>
                }
                <p>Refund Id: <strong>@Model.Order.RefundId</strong></p>
                <p>Refund Message: <strong>@Model.Order.RefundMessage</strong></p>
                <p>Refund Status: <strong>@Model.Order.RefundStatus</strong></p>
                @if (Model.Order.RefundCreatedDate != null)
                {
                    <p>Refund Date: <strong>@Model.Order.RefundCreatedDate.Value.ToString("F")</strong></p>
                }
            </div>
        </div>
    </div>

</div>
<script>
    var failure = "@Model.FailureMessage";
    var message = "@Model.StatusMessage";
    var success = "@Model.SuccessMessage";

    if (failure != "")
    {
        toastr["warning"](failure, "Warning");
    }

    if (message != "")
    {
        toastr["info"](message, "Info");
    }

    if (success != "")
    {
        toastr["success"](success, "Success");
    }

// Tabs
function openTab(evt, tabName) {
    debugger;
    var i;
    var x = document.getElementsByClassName("tab");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    var activebtn = document.getElementsByClassName("testbtn");
    for (i = 0; i < activebtn.length; i++) {
        activebtn[i].className = activebtn[i].className.replace(" gustaf-background-dark", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " gustaf-background-dark";
  }

function updatePackageRef(n) {
    var alink = document.getElementById('dispatch');
    var uri = "/ManageOrders/OrderDispatched?id=@Model.Order.Id&&packageReference=" + n.value;

    alink.removeAttribute('href');
    alink.setAttribute('href',uri);
}
    
function updateReturnAmount(n) {
    debugger;
    var alink = document.getElementById('refund');
    var uri = "/ManageOrders/CompleteReturn?id=@Model.Order.Id&&returnAmount=" + n.value;

    alink.removeAttribute('href');
    alink.setAttribute('href',uri);
}
</script>
